/* modifier style */
.darken-text {
  font-weight: 600;
  margin-right: 10px;
}

.banner {
  background: url("../assets/images/privacy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--fill-color);
  height: 300px;
  position: relative;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: var(--spacing-md);
}
.banner__text {
  font-size: 3rem;
  text-shadow: 1px 1px 5px black;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.policy-container {
  padding: 20px;
}

@media only screen and (max-width: 450px) {
  .banner {
    height: 350px;
  }
}
